<script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<div>
<table
  id="table"
  class="table table-bordered table-sm table-hover table-responsive-sm "
  style="margin-left: 10px; margin-right: 20px"
>
  <thead class="thead-dark" style="color:white;">
    <tr class="bg-primary">
      <th scope="col">STT</th>
      <th scope="col">Tên hàng hóa</th>
      <th scope="col">Ký hiệu mã SP</th>
      <th scope="col">Khối lượng</th>
      <th scope="col">ĐVT</th>
      <th scope="col">Mô tả hàng hóa</th>
      <th scope="col">Xuất xứ</th>
      <th scope="col">Đơn giá</th>
      <th scope="col">Ghi chú</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of Results" >
      <th scope="row">{{ item.STT }}</th>
      <td>{{ item.TENSP }}</td>
      <td>{{ item.KHSP }}</td>
      <td>{{ item.KL }}</td>
      <td>{{ item.DVT }}</td>
      <td>{{ item.MOTA }}</td>
      <td>{{ item.XUATXU }}</td>
      <td>{{ item.DONGIA }}</td>
      <td>{{ item.NOTE }}</td>
    </tr>
   </tbody>
</table>
</div>
