<!-- <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">  -->
<div class="KQDT"  style="margin-left: 10px; margin-right: 20px" >
  <Label> SỐ TBMT :&nbsp;
    <input id="input" placeholder="nhập sô thông báo mời thầu" [(ngModel)] = "SOTBMT" />
  </Label>&nbsp;
  <button id="btn_so" class="btn btn-primary btn-sm" (click)="getSOTBMT(SOTBMT)">Search SỐ TBMT</button>
  <br><br>
  <Label> Path Url :&nbsp;
    <input id="input_url" placeholder="nhập đường dẫn Url" [(ngModel)] = "pathUrl" />
  </Label>&nbsp;
  <button id="btn_url" class="btn btn-primary btn-sm" (click)="getPathUrl(pathUrl)" type="button" >Search Url</button>
</div>
<br>  
<div style="margin-left: 10px; margin-right: 20px" class="Display">
  <p>{{ status }}</p>
<table
  id="table" style="with:500px;"
  class="table table-bordered table-sm table-hover table-responsive-sm "
  *ngFor="let item of TableInfo"
>
  <!-- <thead class="thead-dark" style="color:white;"> -->
    <!-- <tr class="bg-primary"   > -->
      <tr class="tr-hover" >
        <th style="width: 200px;color:white;" class="bg-primary"  scope="row">SỐ TBMT : </th>
        <td class="SOTBMT" style="padding: 10px ;" scope="row">{{ item.SOTBMT }}</td>
      </tr>
      <tr>
        <th style="width: 200px;color:white;" class="bg-primary"  scope="row">CHỦ ĐẦU TƯ : </th>
        <td class="CHUDAUTU" style="padding: 10px ;" scope="row" >{{ item.CHUDAUTU }}</td>
      </tr>
      <tr>
        <th style="width: 200px;color:white;" class="bg-primary"  scope="row">HÌNH THỨC ĐẤU THẦU : </th>
        <td class="HINHTHUCDT" style="padding: 10px ;" scope="row" >{{ item.HINHTHUCDT +'' }}</td>
      </tr>
      <tr>
        <th style="width: 200px;color:white;" class="bg-primary"  scope="row">TÊN GÓI THẦU : </th>
        <td class="TENGOITHAU" style="padding: 10px ;" scope="row" >{{ item.TENGOITHAU }}</td>
      </tr>
      <tr>
        <th style="width: 200px;color:white;" class="bg-primary"  scope="row">GIÁ GÓI THẦU : </th>
        <td class="GIAGOITHAU" style="padding: 10px ;" scope="row" >{{ item.GIAGOITHAU }}</td>
      </tr>
      <tr>
        <th style="width: 200px;color:white;" class="bg-primary" scope="row">THỜI GIAN ĐÓNG THẦU : </th>
        <td class="THOIGIANDT" style="padding: 10px ;" scope="row" >{{ item.THOIGIANDT }}</td>
      </tr>
      <tr>
        <th style="width: 200px;color:white;" class="bg-primary" scope="row">TÊN NHÀ THẦU : </th>
        <td class="TENNHATHAU" style="padding: 10px ;" scope="row" >{{ item.TENNHATHAU }}</td>
      </tr>
      <tr>
        <th style="width: 200px;color:white;" class="bg-primary" scope="row">SỐ ĐKKD : </th>
        <td style="padding: 10px ;" scope="row" >{{ item.SODKKD }}</td>
      </tr>
      <tr>
        <th style="width: 200px;color:white;" class="bg-primary" scope="row">GIÁ DỰ THẦU : </th>
        <td class="GIADUTHAU" style="padding: 10px ;" scope="row" >{{ item.GIADUTHAU }}</td>
      </tr>
      <tr>
        <th style="width: 200px;color:white;" class="bg-primary" scope="row">THỜI GIAN THỰC HIỆN : </th>
        <td style="padding: 10px ;" scope="row" >{{ item.TGTH }}</td>
      </tr>
    <!-- </tr> -->
  <!-- </thead> -->
  <!-- <tbody>
    <tr *ngFor="let item of TableInfo" >
      <th scope="row">{{ item.SOTBMT }}</th>
      <td>{{ item.CHUDAUTU }}</td>
      <td>{{ item.HINHTHUCDT +'' }}</td>
      <td>{{ item.TENGOITHAU }}</td>
      <td>{{ item.GIAGOITHAU }}</td>
      <td>{{ item.THOIGIANDT }}</td>
      <td>{{ item.TENNHATHAU }}</td>
      <td>{{ item.SODKKD }}</td>
      <td>{{ item.GIADUTHAU }}</td>
      <td>{{ item.TGTH }}</td>
    </tr>
   </tbody> -->
</table>
<table
  id="table"
  class="table table-bordered table-sm table-hover table-responsive-sm "
>
  <thead class="thead-dark" style="color:white;">
    <tr class="bg-primary">
      <th class="STT" scope="col">STT</th>
      <th class="TENSP" scope="col">Tên hàng hóa</th>
      <th class="KHSP" scope="col">Ký hiệu mã SP</th>
      <th class="KL" scope="col">Khối lượng</th>
      <th class="DVT" scope="col">ĐVT</th>
      <th class="MOTASP" scope="col">Mô tả hàng hóa</th>
      <th class="XUATXU" scope="col">Xuất xứ</th>
      <th class="DONGIA" scope="col">Đơn giá</th>
      <th class="NOTE" scope="col">Ghi chú</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of TableContent let i index " >
      <th class="STT" scope="row">{{ item.STT }}</th>
      <td class="TENSP">{{ item.TENSP }}</td>
      <td  class="KHSP">{{ item.KHSP  }}</td>
      <td class="KL">{{ item.KL }}</td>
      <td class="DVT">{{ item.DVT }}</td>
      <td class="MOTASP">{{ item.MOTA }}</td>
      <td class="XUATXU">{{ item.XUATXU }}</td>
      <td class="DONGIA">{{ item.DONGIA }}</td>
      <td class="NOTE">{{ item.NOTE }}</td>
    </tr>
   </tbody>
</table>
</div>
